@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --color-charcoal: #2E2E2E;
    --color-gold: #C9A227;
    --color-offwhite: #F9F9F9;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Lato", sans-serif;

    --breakpoint-sm: 641px;
    --breakpoint-lg: 1025px;
}

@layer base {
    body {
        background-color: #FFFFFF;
        color: #2E2E2E;
        overflow-x: hidden;
    }
}